/* Đặt các thuộc tính mới khi slide được chọn */
.swiper-slide-active {
  animation: none; /* Ngừng animation mặc định */
  height: 300px;
  margin-top: 74px;
  opacity: 1;
  animation: slideAnimation 1s ease-in-out;
}

@keyframes slideAnimation {
  from {
    height: 50px;
    margin-top: 50px;
    opacity: 0.3;
  }
  to {
    height: 300px;
    margin-top: 74px;
    opacity: 1;
  }
}
