@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 2px solid #ffffff1a;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer components {
  .bg-image-main {
    @apply bg-[url('assets/images/background3.jpg')] bg-center bg-cover;
  }

  .bg-image-login {
    @apply bg-[url('assets/images/background4.jpg')] bg-center bg-cover;
  }
  /* .bg-image-custom {
    @apply bg-[url('https://img.freepik.com/premium-photo/design-with-geometric-shapes-template-with-3d-elements_751833-6.jpg?w=826')] bg-center bg-cover;
  } */

  /* .bg-gradient-custom {
    @apply bg-gradient-to-t from-gray-900 to-gray-600;
  } */
  .bg-gradient-custom {
    @apply bg-gradient-to-r from-blue-400 to-emerald-400;
  }

  .glassmorphism {
    @apply text-white p-2 backdrop-blur-sm bg-black/40 rounded-2xl shadow-2xl border border-white/20;
  }
}
